body{
    margin: 0px;
}

h3{
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 40px;
    margin: 0px;
    color: white;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: sticky;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px 18px;
    text-decoration: none;
    
}

li a:hover{
    background-color: #535353d8;
}

#login-btn{
    display:block;
    
}

#signup-btn{
    display: block;
}

#search-bar{
    border-radius: 25px;
    width: 200px;
    height: 30px;
    margin-top: 8px;
    margin-left: 20px;
}

.active{
    background-color: grey;
}

